<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>Pingpong Ball</title>
  </head>
  <body>
    <section>
      <h1 id="h11">
        <span id="p1display"> 0 </span> To <span id="p2display"> 0</span>
      </h1>
      <div class="form-group">
        <label for="my-select">Select Win Point</label>
        <select id="my-select" class="form-control" name="my-select"></select>
      </div>
      <button id="p1btn">+1 Player One</button>
      <button id="p2btn">+1 Player Two</button>
      <button id="reset">Reset</button>
    </section>

    <footer>
      <script src="./app.js"></script>
    </footer>
  </body>
</html>
