<!DOCTYPE html>
<html lang="en">
    <%- include('part/head') %>
<body class="container">
    <%- include('part/navbar') %>
    <h1>HomePage <%= 'hellow'.toUpperCase()  %></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis quasi dicta blanditiis quisquam ut vel nam, quos sapiente, reiciendis cupiditate harum provident autem, ipsam soluta alias eligendi iusto natus minus.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe sit delectus veniam molestiae hic earum doloremque veritatis quisquam perspiciatis. Exercitationem illo cupiditate nam ullam iste maxime temporibus architecto deserunt laboriosam.</p>
</body>
</html>